.master h2, h3 {
    color: #2196f3;
	text-align: center;
	}
	a {
	     text-decoration: none;
       color: #000000;
	}     
    p {

      color: #000000;   
    }
    li {
      color: #000000;
    }
